# Node and tooling
node_modules/
npm-debug.log
*.log
.npm/

# Build output
dist/
build/
coverage/
reports/

!.github/actions/build/
!.github/actions/build/**
!.github/actions/ps-task/build/
!.github/actions/ps-task/build/**

# Editor
.DS_Store
.idea/
.vscode/

# OS
Thumbs.db

# Misc
.env
.env.*
